{% include "components-header" with { isActive: 5 } %}
{% include "modules-submenu" %}

<main role="main" class="content">
  <div class="content--inner">
    {% embed "modules-grid-halfs" %}
      {% block items %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% include "components-box-list" with { boxList: boxUsers } %}
          {% endblock %}
        {% endembed %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% include "components-box-list" with { boxList: boxGroups } %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  </div>
</main>

{% include "components-popup-add-user" with { popupAddUser: popupAddUser } %}
{% include "components-popup-add-group" with { popupAddGroup: popupAddGroup } %}
