/**
 *
 * Fonts
 *
 * http://www.456bereastreet.com/archive/201012/font-face_tip_define_font-weight_and_font-style_to_keep_your_css_simple/
 * http://stackoverflow.com/questions/28279989/multiple-font-weights-one-font-face-query
 */

@font-face {
  font-family: "AlegreyaSans";
  font-style: normal;
  font-weight: 400;
  src: local("AlegreyaSans"),
       url("/assets/fonts/AlegreyaSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AlegreyaSans";
  font-style: italic;
  font-weight: 400;
  src: local("AlegreyaSans-Italic"),
       url("/assets/fonts/AlegreyaSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "AlegreyaSans";
  font-style: normal;
  font-weight: 600;
  src: local("AlegreyaSans-Bold"),
       url("/assets/fonts/AlegreyaSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "AlegreyaSans";
  font-style: italic;
  font-weight: 600;
  src: local("AlegreyaSans-BoldItalic"),
       url("/assets/fonts/AlegreyaSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "AlegreyaSans";
  font-style: normal;
  font-weight: 300;
  src: local("AlegreyaSans-Light"),
       url("/assets/fonts/AlegreyaSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "AlegreyaSans";
  font-style: italic;
  font-weight: 300;
  src: local("AlegreyaSans-LightItalic"),
       url("/assets/fonts/AlegreyaSans-LightItalic.ttf") format("truetype");
}