<main role="main" class="content">
  <div class="content--inner">
    {% embed "modules-grid-full" %}
      {% block items %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% embed "modules-box" with { box: boxUserSetPassword } %}
              {% block content %}
                {% include "modules-forms-password-field" with { formsPasswordField: boxUserSetPassword.formsPasswordField } %}
                {% include "modules-forms-password-field" with { formsPasswordField: boxUserSetPassword.formsPasswordFieldRepeat } %}
                {% include "elements-button-link-spacing-top" with { buttonLinkSpacingTop: boxUserSetPassword.buttonLink } %}
              {% endblock %}
            {% endembed %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  </div>
</main>
