/**
 *
 * Button link
 *
 */

$icon-link-background-color: $white;
$icon-link-border-color: $gray-lighter;
$icon-link-border-radius: $border-radius;
$icon-link-padding: $layout-padding;
$icon-link-spacing-top: 10px;

.button-link {
  @include flexbox;
  @include align-items(center);
}
