<div class="button-link {{ buttonLink.jsClass }}">
  {% include "elements-icon-rounded" with { iconRounded: buttonLink.iconRounded } %}
  {% include "elements-button-text" with { buttonText: { label: buttonLink.label, class: "has-spacing-before" } } %}
</div>
