/**
 *
 * Forms Password
 *
 */

$forms-password-background-color: $gray-lightest;
$forms-password-border-radius: $border-radius;
$forms-password-border-style: 1px solid $gray;
$forms-password-spacing: 15px;

.forms-password {
  background-color: $forms-password-background-color;
  border: $forms-password-border-style;
  border-radius: $forms-password-border-radius;
  font-size: 100%;
  padding-bottom: $forms-password-spacing;
  padding-left: $forms-password-spacing;
  padding-right: $forms-password-spacing;
  padding-top: $forms-password-spacing;
  width: 100%;
}
