<div class="panel-menu">
  {% embed "modules-box" with { box: panelMenu } %}
    {% block header %}{% endblock %}
    {% block content %}
      {% for item in panelMenu %}
        {% include "modules-content-list-item" with { contentListItem: item } %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
</div>
