<nav class="submenu">
  <div class="submenu--inner">
    <div class="submenu--links is-left">
      {% for submenuLink in submenuLinks %}
        {% include "elements-submenu-link" %}
      {% endfor %}
    </div>
  </div>
</nav>
