<div class="popup is-hidden {{ popup.jsClass }}">
  <div class="popup--dialog js-modal-dialog is-hidden">
    <div class="popup--content">
      {% block content %}
        <p>Fictum,  deserunt mollit anim laborum astutumque! Curabitur est gravida et libero vitae dictum.</p>
      {% endblock %}
    </div>
  </div>
</div>