<div class="popup is-hidden {{ popup.jsClass }}">
  <div class="popup--dialog js-modal-dialog is-hidden">
    <div class="popup--content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>