<div class="content-list">
  {% block content %}
    {% for item in contentList %}
      {% embed "modules-content-list-item" with { contentListItem: item } %}
      {% endembed %}
    {% endfor %}
  {% endblock %}
</div>
