<div class="content-list-item {{ listItem.class }}">
  {% if listItem.url %}
    <a href="{{ listItem.url }}" title="{{ listItem.title }}">
  {% endif %}
    {{ listItem.label }}
  {% if listItem.url %}
    </a>
  {% endif %}
</div>
