/**
 *
 * Content List item
 *
 */

$content-list-item-background-color: $white;
$content-list-item-border-style: 1px solid $gray-lighter;
$content-list-item-padding: 15px;
$content-list-item-spacing-top: 15px;


.content-list-item {
  border-top: $content-list-item-border-style;
  margin-top: $content-list-item-spacing-top;
  padding-top: $content-list-item-padding;
}
