{% embed "modules-popup" with { popup: { jsClass: popupAddUser.jsClass } } %}
  {% block content %}
    {% embed "modules-grid-full" %}
      {% block items %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% include "elements-heading-spacing-after" with { headingHasSpacingAfter: popupAddUser.headingHasSpacingAfter } %}
          {% endblock %}
        {% endembed %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% include "modules-forms-text-field" with { formsTextField: popupAddUser.formsEmail } %}
          {% endblock %}
        {% endembed %}
        {% embed "modules-grid-item" %}
          {% block content %}
            <p>Der bliver sendt en e-mail til brugeren med et aktiveringslink.</p>
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
    {% embed "modules-grid-halfs" %}
      {% block items %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% include "elements-button-link-neutral" with { buttonLinkNeutral: popupAddUser.buttonLinkNeutral } %}
          {% endblock %}
        {% endembed %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% include "elements-button-link" with { buttonLink: popupAddUser.buttonLink } %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
