/**
 *
 * Icons
 *
 */

[data-icon] {
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;

  &.is-tiny {
    height: 18px;
    width: 18px;
  }

  &.is-small {
    height: 24px;
    width: 24px;
  }

  &.is-medium {
    height: 36px;
    width: 36px;
  }

  &.is-large {
    height: 48px;
    width: 48px;
  }
}