<article class="box">
  {% include "elements-heading" with { heading: box.heading } %}
  <div class="box--inner">
    {% include "modules-button-link" with { iconLink: box.buttonLink } %}
    {% include "modules-list" with { list: box.list } %}
    {% include "elements-box-link" with { heading: box.boxLink } %}
  </div>
</article>
