<article class="box">
  {% block header %}
    {% include "elements-heading" with { heading: box.heading } %}
  {% endblock %}
  <div class="box--inner">
    {% include "modules-button-link" with { iconLink: box.buttonLink } %}
  </div>
</article>
