<article class="box">
  {% block header %}
    {% include "elements-heading" with { heading: box.heading } %}
  {% endblock %}
  <div class="box--inner">
    <p>Hi omnes lingua, institutis, legibus inter se differunt. Quae vero auctorem tractata ab fiducia dicuntur.</p>
  </div>
</article>