<div class="button-icon-link {{ buttonIconLinkClass }} {{ buttonIconLink.jsClass }}" data-modal="{{ buttonIconLink.dataModal }}">
  {% include "elements-icon-rounded" with { iconRounded: buttonIconLink.iconRounded } %}
  {% include "elements-button-text" with { buttonText: { label: buttonIconLink.label, class: "has-spacing-before" } } %}
</div>
