<header class="header">
    <div class="header--inner">
      <a href="/design/dashboard/index.php" class="logo js-logo" title="Aroskanalen"><i data-icon="filter-none" class="is-medium logo--icon"></i><span>Aroskanalen</span></a>
      <nav class="nav js-nav">
          <a class="nav--link" href="/design/dashboard/index.php">
            Start
          </a>
          <a class="nav--link" href="#">
            Slides
          </a>
          <a class="nav--link" href="/design/channel/planning/index.php">
            Kanaler
          </a>
          <a class="nav--link is-active" href="/design/screen/planning/index.php">
            Skærme
          </a>
        <a class="nav--link" href="#">
          Medier
        </a>
      </nav>
    </div>
  </header>
  <div class="hamburger-menu-toggle js-toggle-modal js-menu-toggle">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="hamburger-menu--overlay js-toggle-modal js-modal is-hidden">
    <nav class="hamburger-menu js-modal-dialog is-hidden">
      <div class="hamburger-menu--inner">
        <div class="hamburger-menu--links">
          <div class="hamburger-menu--group">
            <a href="#" class="hamburger-menu--link">
              Kanaler
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Oversigt
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Opret kanal
            </a>
          </div>
          <div class="hamburger-menu--group">
            <a href="#" class="hamburger-menu--link">
              Slides
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Oversigt
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Opret kanal
            </a>
          </div>
          <div class="hamburger-menu--group">
            <a href="#" class="hamburger-menu--link">
              Skærme
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Oversigt
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Opret kanal
            </a>
          </div>
          <div class="hamburger-menu--group">
            <a href="#" class="hamburger-menu--link">
              Administration
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Deling
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Templates
            </a>
            <a class="hamburger-menu--link is-sub" href="#">
              Søgning og indhold
            </a>
          </div>
          <div class="hamburger-menu--group">
            <a href="/index.php" class="hamburger-menu--link">
              Style guide
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
