/**
 *
 * Button Text
 *
 */

$button-text-color: $theme-color;
$button-text-spacing-left: 10px;

.button-text {
  color: $button-text-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &.has-spacing-before {
    margin-left: $button-text-spacing-left;
  }
}
