/**
 *
 * Content.
 *
 */


.is-frontpage .content {
  @include flexbox;

  height: 100%;

  background-color: transparentize($black, .1);

  &--inner {
    @include flexbox;
    @include flex-basis(100%);
    @include flex-direction(column);

    margin: auto;
    height: 100%;
    max-width: 100%;

    @include breakpoint($breakpoint-tablet) {
      height: auto;
      max-width: 75%;
    }

    @include breakpoint($breakpoint-desk) {
      @include flex-direction(row);
    }

    @include breakpoint($breakpoint-bigscreen) {
      max-width: $layout-max-width;
    }
  }
}

.is-page .content {
  position: relative;
  margin-top: 12em;

  &--inner {
    margin-right: auto;
    margin-bottom: 16em;
    margin-left: auto;
    max-width: $layout-max-width;

    @include word-wrap;
  }
}

// Screen creation design uses full width.
.is-page.is-screen .content--inner {
  max-width: 100%;
}