/**
 *
 * Logo.
 *
 */


/* Default use
   ========================================================================== */

.logo {
  @include flexbox;
  @include flex-direction(row);

  &--icon {
    margin-right: 10px;
  }

  &.is-anonymous {
    margin: 0 auto;
  }
}


.logo,
.logo.is-sticky {
  @include align-items(center);
  @include strip-link-styles($white, none);

  overflow: hidden;

  height: 100%;
  margin-left: $layout-padding;

  font-size: 1.25em;
  font-weight: 300;
  line-height: 1em;

  .material-icons {
    margin-right: .25em;

    font-size: 38px;
  }

  @include breakpoint($layout-max-width+1) {
    margin-right: auto;
    margin-left: auto;
    max-width: $layout-max-width;

    font-size: 1.75em;
  }

  span {
    box-sizing: border-box;

    font-weight: 400;
    white-space: nowrap;
  }
}


/* Specific use on the login page.
   ========================================================================== */

.is-login-page .logo {
  @include align-items(center);
  @include flex-direction(column);

  margin-bottom: 0;

  color: $white;

  .material-icons {
    font-size: 34px;
  }

  &--text {
    margin-top: .1em;
  }

  &--slogan {
    color: transparentize($white, .5);
    font-size: .45em;
  }
}