/**
 *
 * Forms
 *
 * This is an example file
 *
 */



/* Basic styling
   ================================================================================================================== */

input,
textarea {
  font: $font;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 0;
  display: block;
  min-height: 3.75em;
  padding: .85em 1.25em;
  width: 100%;

  border-radius: .25em;
  box-sizing: border-box;

  color: $gray-darkest;
  background-color: $white;

  &:focus {
    color: $gray-darker;
  }

  &[disabled] {
    background-color: $gray-lightest;
  }

  &.is-error {
    border: 1px solid $error-color;
  }
}


/* Form
   ================================================================================================================== */

.form {
  margin-top: 1.25em;

  &--group {
    margin-top: 1.25em;

    label {
      color: $gray-darker;
      font-weight: 600;
    }
  }

  &--checkbox {
    position: relative;

    margin-top: .75em;
    padding-left: 1.2em;

    input {
      position: absolute;

      margin-top: .25em;
      margin-left: -1.25em;
    }
  }
}
