/**
 *
 * List item
 *
 */

$list-item-background-color: $white;
$list-item-border-style: 1px solid $gray-lighter;
$list-item-padding: 15px;
$list-item-spacing-top: 15px;


.list-item {
  border-top: $list-item-border-style;
  margin-top: $list-item-spacing-top;
  padding-top: $list-item-padding;
}
