/**
 *
 * Modal box
 *
 * Uses itk-modal asset
 */


/* Styles
   ========================================================================== */

/***
  title: Modal
  section: Modalsection
  description: Very pretty modal
  example: |
    <a href="" class="btn btn-small">button</a>
    <a href="" class="btn btn-medium">button</a>
    <a href="" class="btn btn-large">button</a>
***/

.modal {
  @extend %itk--menu-nav-overlay;

  &--dialog {
    @include modal-dialog(500px, center, .2s);
  }

  &--content {
    padding: 2em;
  }
}