/**
 *
 * Itk tabs
 *
 * A component for displaying tabs as rounded corners.
 *
 */

/* Styles
   ========================================================================== */
.tabs {
  @extend %itk--tabs;

  margin: 1em;
  min-width: 22em;
  font-size: .9em;
}

.tabs--item {
  @extend %itk--tabs-item;

  @include itk--tabs-color($white, $theme-color, $gray-dark, $white, $gray-lighter);

  &.has-flex {
    @include flexbox();
    @include justify-content(center);

    [data-icon] {
      margin: 2px 0.7em 2px 2px;

      @include flex(0, 0, 18px);
    }
  }
}