/**
 *
 * icon-person-add
 *
 */

$icon-person-add-color: $theme-color;
$icon-person-add-border: .125em solid;
$icon-person-add-border-radius: 100%;
$icon-person-add-padding: .25em;

.icon-person-add {
  border: $icon-person-add-border;
  border-radius: $icon-person-add-border-radius;
  color: $icon-person-add-color;
  padding: $icon-person-add-padding;
}
