/**
 *
 * Button Link Neutral
 *
 */

$button-link-neutral-background-color: transparent;
$button-link-neutral-background-color-hover: $gray-lighter;
$button-link-neutral-text-color: $gray;
$button-link-neutral-border-style: 2px solid $gray-light;
$button-link-neutral-border-radius: $border-radius;
$button-link-neutral-padding: $layout-padding;

.button-link-neutral {
  background-color: $button-link-neutral-background-color;
  border: $button-link-neutral-border-style;
  border-radius: $button-link-neutral-border-radius;
  color: $button-link-neutral-text-color;
  display: block;
  padding: $button-link-neutral-padding;
  text-align: center;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $button-link-neutral-text-color;
    text-decoration: none;
  }

  &:hover {
    background-color: $button-link-neutral-background-color-hover;
  }
}