/**
 *
 * Icons
 *
 */

i {
  display: block;

  background-repeat: no-repeat;
  background-size: 100%;

  &.is-small {
    height: 24px;
    width: 24px;
  }

  &.is-medium {
    height: 36px;
    width: 36px;
  }

  &.is-large {
    height: 48px;
    width: 48px;
  }
  
  // Itterate through $icons array defined in _vars.scss, and if a file name matches the data value use this as background image.
  @each $icon-name in $icons {
    &[data-icon*="#{$icon-name}"] {
      background-image: url('../design/assets/icons/#{$icon-name}.svg');

      // Override background image with an inverted version if state class applied.
      &.is-inverted {
        background-image: url('../design/assets/icons/#{$icon-name}-alt.svg');
      }
    }
  }
}