/**
 *
 * Forms
 *
 */



/* Basic styling
   ================================================================================================================== */

.spinner-element {
  width: 100%;
  height: 100px;

  &:after {
    // We use background image to ensure centering.
    background-image: url("../icons/spinner.svg");
    background-color: transparentize($white, .15);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

.has-spinner {

}