{% include "components-header" with { isActive: 5 } %}
{% include "modules-submenu" %}

<main role="main" class="content">
  <div class="content--inner">
    {% embed "modules-grid-halfs" %}
      {% block items %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% embed "modules-box" with { box: boxUserGroup1 } %}
              {% block content %}
                {% include "modules-forms-text-field" with { formsTextField: boxUserGroup1.formsName } %}
                {% include "elements-button-link-spacing-top" with { buttonLinkSpacingTop: boxUserGroup1.buttonLink } %}
              {% endblock %}
            {% endembed %}
          {% endblock %}
        {% endembed %}
        {% embed "modules-grid-item" %}
          {% block content %}
            {% include "components-box-list" with { boxList: boxUsers } %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  </div>
</main>

{% include "components-popup-add-to-group" with { popupAddToGroup: popupAddToGroup } %}


